/* TravelPage.module.css */

.travelPage {
    padding: 2rem;
    background-color: #f5f5f5;
}

.pageTitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.input {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchButton {
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchButton:hover {
    background-color: #0056b3;
}

.flightList {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin: 2rem;
}
.results {
    background-color: #333;
    text-align: center;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
}
.results h1 {
    color: white; /* Set text color to white */
    font-size: 2rem; /* Adjust font size */
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 5px; /* Left-align the text */
  }
.flightCard {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.flightCard h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.flightCard p {
    font-size: 1rem;
    margin: 0.3rem 0;
}
